/// Computes a top-shadow for a card effect.
/// @param {Number} $depth - depth level
/// @return {List}
@function top-shadow($depth) {
  $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
  $blur: nth(1.5 3 10 14 19, $depth) * 4px;
  $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

  @return 0 $primary-offset $blur $color;
}

/// Computes a bottom-shadow for a card effect.
/// @param {Number} $depth - depth level
/// @return {List}
@function bottom-shadow($depth) {
  $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
  $blur: nth(1 3 3 5 6, $depth) * 4px;
  $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

  @return 0 $primary-offset $blur $color;
}

@mixin card($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `card`.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);  
  }
}

@mixin buttonStyles() {
    display: inline;
    float: left;
    @include card(1);
    
    &:hover {
        @include card(2);
    }
}

body {
    font-family: 'Raleway', sans-serif;
}

.header {
    background-color: #7596CC;
    height: 60px;
    @include card(3);
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-bottom: 30px;
    
    .btn-primary {
        @include buttonStyles();
        margin-right: 10px;
        background-color: #797C7F;
        color: white;
        border: 0;
    }   

    #goDropdown {
        @include buttonStyles();
    }   
    
}

#text_change {
    padding: 0 30px 15px 30px;
    text-align: center;
}

#container_one {
    width: 50%;
    float: left;
}

#container_two {
    width: 50%;
    float: left;
}

.dropdown-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
    top: 50px;
}
